---
- name: Deploy simple HTTP page on Oracle Linux
  hosts: all
  become: yes

  tasks:

    - name: Install Nginx web server
      yum:
        name: nginx
        state: present

    - name: Ensure Nginx service is enabled and started
      service:
        name: nginx
        enabled: yes
        state: started

    - name: Deploy custom HTML page
      copy:
        src: ../files/index.html
        dest: /usr/share/nginx/html/index.html
        owner: root
        group: root
        mode: "0644"
